{
  "semi": true,

  "singleQuote": true,

  "quoteProps": "consistent",

  "trailingComma": "all",

  "bracketSpacing": true,

  "arrowParens": "always",

  "printWidth": 140,

  "tabWidth": 2,

  "useTabs": false
}
